/about.html
/darkimg.html
/docs
/from.html
/img
/index.html
/lect1.html
/lect2.html
/lect3.html
/lect4.html
/lect5.html
/matter.text
/registration form.html
/Responsive-Registration-Form.webp
/signup.html
/simple-registration-form.png
/style.css
/style1.css